<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {
        'packages':['geochart'],
        // Note: you will need to get a mapsApiKey for your project.
        // See: https://developers.google.com/chart/interactive/docs/basic_load_libs#load-settings
        'mapsApiKey': 'AIzaSyDT8xOPFAN96wf7PiY5Mt4s0jF1_oYQyGA'
      });
      google.charts.setOnLoadCallback(drawRegionsMap);

      function drawRegionsMap() {
        var data = google.visualization.arrayToDataTable([
          ['Country', 'Popularity'],
          ['Germany', 200],
          ['United States', 300],
          ['India', 350],
          ['Brazil', 400],
          ['Canada', 500],
          ['France', 600],
          ['Russia', 700]
        ]);

        var options = {
            colorAxis: {
        minValue: 0,
        colors: ['#FFEBEE', '#B71C1C']
      },
    //   region: 'GB',
    //   resolution: 'provinces'
        };

        var chart = new google.visualization.GeoChart(document.getElementById('regions_div'));

        chart.draw(data, options);
      }
    </script>