<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
  google.charts.load('current', {
    'packages': ['geochart'],
    // Note: you will need to get a mapsApiKey for your project.
    // See: https://developers.google.com/chart/interactive/docs/basic_load_libs#load-settings
    'mapsApiKey': 'AIzaSyDT8xOPFAN96wf7PiY5Mt4s0jF1_oYQyGA'
  });
  google.charts.setOnLoadCallback(drawRegionsMap);

  var a= "{{world_data}}"

  function drawRegionsMap() {
    var data = google.visualization.arrayToDataTable(a);

    var options = {
      colorAxis: {
        minValue: 0,
        colors: ['#FFEBEE', '#B71C1C']
      },
      backgroundColor: '#161616'

      //   region: 'GB',
      //   resolution: 'provinces'
    };

    var chart = new google.visualization.GeoChart(document.getElementById('regions_div'));

    chart.draw(data, options);
  }
</script>