{% load static %}
<div class="menu-bar">

  <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <a class="navbar-brand" href="#">
          <img src="{% static 'CovidApp/images/syringe-solid.svg' %}" alt="" width="30" height="30"
            class="d-inline-block align-text-top">
          <!-- <i class="fas fa-2x fa-syringe"></i> -->
          Covid Scraper
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item mx-2">
              <a class="nav-link active" aria-current="page" href="#">
                <img src="{% static 'CovidApp/images/home-solid.svg' %}" alt="" width="30" height="30"
                  class="d-inline-block align-text-top">
                <!-- <i class="fas fa-2x fa-home"></i> -->
              </a>
            </li>
            <li class="nav-item mx-2">
              <a class="nav-link" href="#covid-map-world">
                <img src="{% static 'CovidApp/images/globe-americas-solid.svg' %}" alt="" width="30" height="30"
                    class="d-inline-block align-text-top icon">
                <!-- <i class="fas fa-2x fa-globe-americas"></i> -->
              </a>
            </li>
            <li class="nav-item mx-2">
              <a class="nav-link" href="" data-bs-toggle="modal" data-bs-target="#reg-modal">
                <img src="{% static 'CovidApp/images/bell-solid.svg' %}" alt="" width="30" height="30"
                class="d-inline-block align-text-top">
                <!-- <i class="fas fa-2x fa-bell"></i> -->
              </a>
            </li>
          </ul>
        </div>
    </div>
  </nav>
</div>