{% load static %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <a class="navbar-brand" href="#">
        <img src="{% static 'CovidApp/images/syringe-solid.svg' %}" alt="" width="30" height="30"
          class="d-inline-block align-text-top">
        Covid App
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item mx-2">
            <a class="nav-link active" aria-current="page" href="#">
              <img src="{% static 'CovidApp/images/home-solid.svg' %}" alt="" width="30" height="30"
                class="d-inline-block align-text-top">
            </a>
          </li>
          <li class="nav-item mx-2">
            <a class="nav-link" href="#covid-map-world">
              <img src="{% static 'CovidApp/images/globe-americas-solid.svg' %}" alt="" width="30" height="30"
                class="d-inline-block align-text-top">
            </a>
          </li>
          <li class="nav-item mx-2">
            <a class="nav-link" href="#">
              <img src="{% static 'CovidApp/images/bell-solid.svg' %}" alt="" width="30" height="30"
                class="d-inline-block align-text-top">
            </a>
          </li>
          <li class="nav-item mx-2">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
          </li>
        </ul>
      </div>
  </div>
</nav>